cluster_name = "mbernadin"
infra_disk_type = "pd-ssd" # Optional
infra_disk_size = "128"
infra_machine_type = "f1.micro"
infra_ssh_user = "core"
infra_dcos_instance_os = "coreos_1576.5.0"
infra_public_ssh_key = "~/.ssh/key.pem"
dcos_version = ""
